# This is the main configuration file for the application.
# ~~~~~

# Secret key
# ~~~~~
play.http.secret.key = "mNuAvlsFVjeuynN4IWZxZzFOHYVagafzjruHmWTL26VISKr46rUtyGcJuX7aYx4qsdiiasd"

# The application languages
# ~~~~~
http.port = 9000

# Database configuration
# ~~~~~

db.default.url="jdbc:postgresql://127.0.0.1:5432/postgres"
db.default.driver=org.postgresql.Driver
db.default.username="insulin"
db.default.password="insulin"
db.default.hikaricp.connectionTestQuery="SELECT TRUE"

ebean.default="models.*"

play.modules.disabled = ["play.api.cache.EhCacheModule"]
play.cache.redis.bindCaches = ["db-cache", "user-cache", "session-cache"]

play {
  modules {
    enabled += "play.api.db.DBModule"
    enabled += "play.api.db.HikariCPModule"
  }
}

play.modules.enabled += "tasks.TasksModule"

# Evolutions
# ~~~~~
# play.evolutions.enabled=false

# Akka SubSystem
# ~~~~~
akka.default-dispatcher.fork-join-executor.pool-size-max = 64
akka.actor.debug.receive = on

# db connections = ((physical_core_count * 2) + effective_spindle_count)
fixedConnectionPool = 9

database.dispatcher {
  executor = "thread-pool-executor"
  throughput = 1
  thread-pool-executor {
    fixed-pool-size = ${fixedConnectionPool}
  }
}

#mailgun credentials
mailgun.apikey="key-40e1fa9b735f105be2b3173d87ea9804"
mailgun.domain="sandboxf87c1d68b657436394c08bffce23e9da.mailgun.org"

#textlocal credentials
textlocal.apikey="I6lsXRaqmNE-WWCRjjCJ88k1hBf62BI30i9IXqabC0"
textlocal.endpoint="http://api.txtlocal.com/send/?"

#Nexmo credentials
nexmo.endpoint="https://rest.nexmo.com/sms/json"
nexmo.apikey="edff98d0"
nexmo.apisecret="203244039e3c89fe"

#GCM Push Notification
gcm_api_key = "AAAAJ2UlyrQ:APA91bEk5JJUmriVgr611c4snT81YaRekNhBJm48Jd9j6SYGZL4AOY_nZciY4cmVp4BarjzpnYS1c8VYJdQ9yS66WsonybF_lGBw8wo9VAEC4mpxeZsV4HOcQlggtzX-Aus_hevvH1y0";
gcm_endpoint = "https://android.googleapis.com/gcm/send";
