<div class="container">
    <div>
        <div class="row">
            <div class="col-md-1 col-md-offset-5">
                <toggle ng-model="powerOptionValue" ng-change="powerSwitch()" on="<i class='fa fa-play'></i> Power On" off="<i class='fa fa-power-off'></i> Power Off" offstyle="btn-danger" onstyle="btn-success" style="slow"></toggle>
            </div>
        </div>
    </div>
    <div ng-show="adminAuthorized">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Admin Panel</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-">
                        <button type="button" class="btn btn-primary navbar-btn" ng-click=formDisplay("patientprofile")>Patient's Profile</button>
                        <button type="button" class="btn btn-primary navbar-btn" ng-click=formDisplay("deviceconfig")>Configure Device</button>
                    </ul>
                </div>
            </div>
        </nav>

        <div ng-show="formSelected.patientProfile">
            <div class="panel panel-primary">
                <div class="panel-heading text-center panel-relative">Patient Profile Form</div>
                <div class="panel-body">
                    <form novalidate class="form-horizontal" role="form">
                        <div ng-form="patientProfileForm">

                            <div class="form-group">
                                <label class="col-md-4 control-label">First Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="patientFirstName" ng-model="patientFormData.patientFirstName" ng-maxlength="250">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Last Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="patientLastName" ng-model="patientFormData.patientLastName" ng-maxlength="250" ng-required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Patient Gender</label>
                                <div class="col-md-8">
                                    <div class="radio radio-inline">
                                        <input type="radio" ng-model="patientFormData.patientGender" id="MALE" name="patientGender" value="MALE">
                                        <label for="MALE">Male</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input id="FEMALE" type="radio" ng-model="patientFormData.patientGender" name="patientGender" value="FEMALE">
                                        <label for="FEMALE">Female</label>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="help-block text-danger" ng-show="showErrMsg && patientProfileForm.patientGender.$error.required">Select the Gender</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Age</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="patientAge" ng-model="patientFormData.patientAge" min="1" required>
                                        <span class="input-group-addon">Years</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Height</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="patientHeight" ng-model="patientFormData.patientHeight" min="1" required>
                                        <span class="input-group-addon">cms</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Weight</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="patientWeight" ng-model="patientFormData.patientWeight" min="1" required>
                                        <span class="input-group-addon">Kgs</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Emergency Contact</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                        <input type="email" class="form-control" name="emergencyContactEmail" placeholder="email id" ng-model="patientFormData.emergencyContactEmail" ng-maxlength="250">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="emergencyContactMobile" placeholder="mobile number" ng-model="patientFormData.emergencyContactMobile" ng-maxlength="12">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-6" style="margin-left: 45%">
                                    <button type="submit" class="btn btn-info" ng-click="resetForm(patientProfileForm)"><span class="fa fa-eject" aria-hidden="true"></span> Reset</button>
                                    <button type="submit" class="btn btn-success" ng-click="savePatientData(patientProfileForm)">Save/Update</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <div ng-show="formSelected.deviceConfig">
            <div class="panel panel-primary">
                <div class="panel-heading text-center panel-relative">Device Configuration Form</div>
                <div class="panel-body">
                    <form novalidate class="form-horizontal" role="form">
                        <div ng-form="deviceConfigForm">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Target BGL</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="targetBgl" ng-model="deviceConfigData.targetBgl" required>
                                        <span class="input-group-addon">mg/dL</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Device Mode</label>
                                <div class="col-md-6">
                                    <div class="radio radio-inline">
                                        <input type="radio" ng-model="deviceConfigData.deviceMode" name="deviceMode" value="AUTO">
                                        <label>Auto Only</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input type="radio" ng-model="deviceConfigData.deviceMode" name="deviceMode" value="AUTOMANUAL">
                                        <label >Auto & Manual</label>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="help-block text-danger" ng-show="showErrMsg && deviceConfigForm.deviceMode.$error.required">Select the mode</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Maximum Bolus</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="bolusMax" ng-model="deviceConfigData.bolusMax" required>
                                        <span class="input-group-addon">Insulin Units</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Daily Maximum Dosage</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="dailyMax" ng-model="deviceConfigData.dailyMax" required>
                                        <span class="input-group-addon">Insulin Units</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-6" style="margin-left: 45%">
                                    <button type="submit" class="btn btn-info" ng-click="resetForm(deviceConfigForm)"><span class="fa fa-eject" aria-hidden="true"></span> Reset</button>
                                    <button type="submit" class="btn btn-success" ng-click="saveConfigData(deviceConfigForm)">Save Configuration</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
