<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/interface/doctor/#/"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!-- Left column -->
            <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>

            <hr>

            <ul class="nav nav-stacked">
                    <ul class="nav nav-stacked collapse in" id="userMenu" ng-model="selectedLink">
                        <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
                        <li><a href="#" ng-click="linkClicked('doctorProfile')"><i class="glyphicon glyphicon-cog"></i> Profile</a></li>
                        <li><a href="" ng-click="linkClicked('patientList')"><i class="glyphicon glyphicon-user"></i> Patient List</a></li>
                        <li><a href="/interface/doctor/#/"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /col-3 -->
        <div class="col-sm-9">

            <a href=""><strong><i class="glyphicon glyphicon-dashboard"></i> Hi Doctor {{doctorName}}</strong></a>
            <hr>

            <div class="row" data-ng-if="selectedLink == 'patientList'">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Patient Id</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>patient 1</td>
                                <td>123456</td>
                                <td>1st Jan 2018</td>
                            </tr>
                            <tr>
                                <td>patient 2</td>
                                <td>232321</td>
                                <td>10th Jan 2018</td>
                            </tr>
                            <tr>
                                <td>patient 3</td>
                                <td>384728</td>
                                <td>14th Jan 2018</td>
                            </tr>
                            <tr>
                                <td>..</td>
                                <td>..</td>
                                <td>..</td>
                            </tr>
                            <tr>
                                <td>..</td>
                                <td>..</td>
                                <td>..</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--/row-->

            <hr>

        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->

<div class="modal" id="addWidgetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <p>Add a widget stuff here..</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dalog -->
</div>
<!-- /.modal -->