<h1 class="form-signin-heading" align="center">Welcome to Insulin Pump Simulator</h1>
<form class="form-signin" name="loginForm" ng-submit="login()" novalidate>
    <label class="form-signin-heading">Are you a Patient or a Doctor?</label>

    <div class="btn-group green">
        <label class="btn btn-secondary" ng-model="userType" btn-radio="'Doctor'">Doctor</label>
        <label class="btn btn-secondary" ng-model="userType" btn-radio="'Patient'">Patient</label>
    </div>

    <div>
        <label for="inputPassword" class="sr-only">PIN</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Please enter your 5 digit PIN" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Turn On Simulator</button>
</form>
