<div class="container-fluid">
    <div>
        <div class="row">
            <div class="col-md-1 col-md-offset-5">
                <toggle ng-model="powerOptionValue" ng-change="powerSwitch()" on="<i class='fa fa-play'></i> Power On" off="<i class='fa fa-power-off'></i> Power Off" offstyle="btn-danger" onstyle="btn-success"></toggle>
            </div>
        </div>
    </div>

    <div ng-show="simulationFormScreen">
        <div class="panel panel-primary">
            <div class="panel-heading text-center panel-relative">Simulation Input Parameters</div>
            <div class="panel-body">
                <form novalidate class="form-horizontal" role="form">
                    <div ng-form="simulatorForm">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Device Mode</label>
                            <div class="col-md-2">
                                <ui-select ng-model="simulatorFormData.deviceMode" name="deviceMode" required>
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.value"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="mode.value as mode in deviceModes | filter: $select.search">
                                        <span ng-bind="mode.value"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Starting BGL</label>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="startingBgl" ng-model="simulatorFormData.startingBgl" placeholder="0.00" required>
                                    <span class="input-group-addon">mg/DL</span>
                                </div>
                            </div>
                            <div ng-if="showErrMsg" ng-messages="simulatorForm.startingBgl.$error" role="alert">
                                <div ng-message="required" class="error-block" style="color: #f45b5b">Please provide starting BGL.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Meals (CHO / Glycemic Index)</label>
                            <div class="col-md-6">
                                <table bgcolor="#f5f5dc" border="4" cellpadding="2" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Breakfast (8:00 Uhr)</th>
                                            <th>Lunch (12:00 Uhr)</th>
                                            <th>Dinner (20:00 Uhr)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="breakfastCHO" ng-model="simulatorFormData.breakfastCHO" placeholder="0.00" required>
                                                <span class="input-group-addon">grams</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="lunchCHO" ng-model="simulatorFormData.lunchCHO" placeholder="0.00" required>
                                                <span class="input-group-addon">grams</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="dinnerCHO" ng-model="simulatorFormData.dinnerCHO" placeholder="0.00" required>
                                                <span class="input-group-addon">grams</span>
                                            </div>
                                        </td>
                                    </tbody>
                                    <tbody>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="breakfastGI" ng-model="simulatorFormData.breakfastGI" placeholder="0.00 Glycemic Index" required>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="lunchGI" ng-model="simulatorFormData.lunchGI" placeholder="0.00 Glycemic Index" required>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="dinnerGI" ng-model="simulatorFormData.dinnerGI" placeholder="0.00 Glycemic Index" required>
                                            </div>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Physical Exercise</label>
                            <div class="col-md-3">
                                <ui-select ng-model="simulatorFormData.exercise" name="exercise" required>
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.value"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="exercise.value as exercise in exerciseList | filter: $select.search">
                                        <span ng-bind="exercise.value"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Simulation Duration</label>
                            <div class="col-md-3">
                                <ui-select ng-model="simulatorFormData.simulatorDuration" name="simulatorDuration" required>
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.id"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="duration.value as duration in durationList | filter: $select.search">
                                        <span ng-bind="duration.id"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-6" style="margin-left: 45%">
                                <button type="submit" class="btn btn-success" ng-click="runSimulator(simulatorForm)">Run Simulation</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-show="simulationCompleted">
        <div class="panel panel-success">
            <div class="panel-heading text-center panel-relative">Simulation Result Screen</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                        <label class="text-center">Battery</label>
                        <div id="container-battery">Placeholder for chart</div>
                    </div>
                    <div class="col-md-3 col-md-offset-0">
                        <label class="text-center">Insulin</label>
                        <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning"></i></uib-progressbar>

                        <label class="text-center">Glucagon</label>
                        <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning"></i></uib-progressbar>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div id="bglchart">Placeholder for chart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
