<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{patientName}}</h3>
</div>
<form novalidate class="form-horizontal" role="form">
    <div ng-form="patientProfileForm">

        <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="patientFirstName" ng-model="patientFormData.patientFirstName" ng-maxlength="250">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="patientLastName" ng-model="patientFormData.patientLastName" ng-maxlength="250" ng-required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Patient Gender</label>
            <div class="col-md-8">
                <div class="radio radio-inline">
                    <input type="radio" ng-model="patientFormData.patientGender" id="MALE" name="patientGender" value="MALE">
                    <label for="MALE">Male</label>
                </div>
                <div class="radio radio-inline">
                    <input id="FEMALE" type="radio" ng-model="patientFormData.patientGender" name="patientGender" value="FEMALE">
                    <label for="FEMALE">Female</label>
                </div>
                <div class="col-md-12">
                    <span class="help-block text-danger" ng-show="showErrMsg && patientProfileForm.patientGender.$error.required">Select the Gender</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Age</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="number" class="form-control" name="patientAge" ng-model="patientFormData.patientAge" min="1" required>
                    <span class="input-group-addon">Years</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Height</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="number" class="form-control" name="patientHeight" ng-model="patientFormData.patientHeight" min="1" required>
                    <span class="input-group-addon">cms</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Weight</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="number" class="form-control" name="patientWeight" ng-model="patientFormData.patientWeight" min="1" required>
                    <span class="input-group-addon">Kgs</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Emergency Contact</label>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" name="emergencyContactEmail" placeholder="email id" ng-model="patientFormData.emergencyContactEmail" ng-maxlength="250">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="emergencyContactMobile" placeholder="mobile number" ng-model="patientFormData.emergencyContactMobile" ng-maxlength="12">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-6" style="margin-left: 45%">
                <button type="submit" class="btn btn-info" ng-click="resetForm(patientProfileForm)"><span class="fa fa-eject" aria-hidden="true"></span> Reset</button>
                <button type="submit" class="btn btn-success" ng-click="savePatientData(patientProfileForm)">Save/Update</button>
            </div>
        </div>

    </div>
</form>
