<div class="modal-header">
    <h3 class="modal-title" id="modal-title" align="center">Patient Record: {{patientName}}</h3>
</div>
<form novalidate class="form-horizontal" role="form">
    <div ng-form="patientProfileForm">

        <div col-md-8>

            <div class="table-responsive">
                <table bgcolor="#f5f5dc" border="4" cellpadding="2" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Emergency Contact</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{patient.patientLastName}} , {{patient.patientFirstName}}</td>
                        <td>{{patient.patientGender}}</td>
                        <td>{{patient.patientAge}} years</td>
                        <td>{{patient.patientHeight}} cms</td>
                        <td>{{patient.patientWeight}} kgs</td>
                        <td>{{patient.emergencyContactEmail}} / {{patient.emergencyContactMobile}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table bgcolor="#f5f5dc" border="4" cellpadding="2" class="table table-hover table-striped">

                    <thead>
                    <tr>
                        <th>Hemoglobin A1c (HbA1c)</th>
                        <th>Target BGL</th>
                        <th>Daily Max</th>
                        <th>Bolus Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{patient.hba1c}} mmol/mol</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" name="targetBgl" ng-model="patient.targetBgl" value="{{patient.targetBgl}}">
                                <span class="input-group-addon">mg/dL</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" name="dailyMax" ng-model="patient.dailyMax" value="{{patient.dailyMax}}">
                                <span class="input-group-addon">IU</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" name="bolusMax" ng-model="patient.bolusMax" value="{{patient.bolusMax}}">
                                <span class="input-group-addon">IU</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="bglchart">Placeholder for chart</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-6" style="margin-left: 45%">
                <button type="submit" class="btn btn-success" ng-click="savePatientData(patient.targetBgl, patient.dailyMax, patient.bolusMax)">Save/Update</button>
            </div>
        </div>


    </div>
</form>
