<form name="signupForm" ng-submit="signup()" novalidate>
    <div>
        <label for="email">Email</label>
        <input name="email" class="form-control" type="email" id="email" placeholder="Email"
               ng-model="email">
    </div>
    <div>
        <ui-select ng-model="userType" theme="selectize" ng-disabled="ctrl.disabled" style="width: 300px;" title="Patient or Doctor">
            <ui-select-match placeholder="Select a user type...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="usertype in userTypes | filter: $select.search">
                <span ng-bind-html="usertype.name | highlight: $select.search"></span>
                <small ng-bind-html="usertype.value | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" class="form-control" type="password" id="password"
               placeholder="Password" ng-model="password">

    </div>
    <button type="submit" class="btn btn-primary">Sign up!</button>
</form>