"use strict";

var url = [];
var count = 0;

self.addEventListener('install', function(event) {
    event.waitUntil(self.skipWaiting()); //will install the service worker
});

self.addEventListener('activate', function(event) {
    event.waitUntil(self.clients.claim()); //will activate the serviceworker
});

// Register event listener for the 'notificationclick' event.
self.addEventListener('notificationclick', function(event) {
event.notification.close();

event.waitUntil(
clients.matchAll({
type: "window"
})
.then(function(clientList) {

if (clients.openWindow) {
var c = count;
count++;
return clients.openWindow(url[c]);
}
})
);

});


self.addEventListener('push', function(event) {
    event.waitUntil(self.registration.pushManager.getSubscription().then(function(subscription) {
        console.log("subscription", subscription);
        var registrationId = null;
        if ('subscriptionId' in subscription) {
            registrationId = subscription.subscriptionId;
        } else {
            registrationId = subscription.endpoint.split("/").reverse()[0];
        }

        return fetch("/rest/v1/push/fetch-notification?registrationId=" + registrationId).then(function(response) {
            if (response.status != 200) {
                console.log("Fetch Notification Failed!")
            }
            var payload = {
                title: 'Alpha Beta Pump Simulator',
                body: 'Warning!! The BGL level is too high. The patient may die',
                icon: 'assets/images/warning_sign.png',
                vibrate: [500,110,500,110,450,110,200,110,170,40,450,110,200,110,170,40,500],
                sound: 'assets/misc/Alert.mp3',
                url: 'https://www.google.com'
            };

            url.push(payload.url);
            return self.registration.showNotification(payload.title, {
                body: payload.body,
                icon: payload.icon,
                vibrate: payload.vibrate,
                sound: payload.sound,
                tag: payload.url + payload.body + payload.icon + payload.title
            });


@*
            var payload = response.data;
            url.push(payload.url);
            return self.registration.showNotification(payload.title, {
                body: payload.body,
                icon: payload.icon,
                tag: payload.url + payload.body + payload.icon + payload.title
            });
*@
        });
    })
);
});