@(message: String)

@main("Alpha-Beta Pump") {
    <div class="row">
    <div class="container">
        <div class="page-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <span class="navbar-brand" href="#">
                            <span></span><img src="@routes.Assets.at("images/syringe.png")" width="30" height="30" class="d-inline-block align-top" alt="brand"></span>
                            <h3 class="navbar-text" align="center">Welcome to Alpha-Beta Pump Simulator</h3>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="@routes.Assets.at("images/doctor.png")" alt="Doctor" class="img-responsive" style="width:40%">
                <p>Doctor</p>
                <p><a href="@routes.Application.userInterface("doctor")" class="btn btn-primary">Doctor Interface</a></p>
            </div>
            <div class="col-md-3">
                <img src="@routes.Assets.at("images/patient.png")" alt="Patient" class="img-responsive" style="width:40%">
                <p>Patient</p>
                <p><a href="@routes.Application.userInterface("patient")" class="btn btn-primary">Patient Interface</a></p>
            </div>
            <div class="col-md-3">
                <img src="@routes.Assets.at("images/nurse.png")" alt="Nurse" class="img-responsive" style="width:40%">
                <p>Nurse</p>
                <p><a href="@routes.Application.userInterface("nurse")" class="btn btn-primary">Nurse Interface</a></p>
            </div>
            <div class="col-md-3">
                <img src="@routes.Assets.at("images/admin.png")" alt="Nurse" class="img-responsive" style="width:40%">
                <p>Admin</p>
                <p><a href="@routes.Application.userInterface("admin")" class="btn btn-primary">Admin Interface</a></p>
            </div>
        </div>
    </div>
    </div>

}{
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
}{


    <script>
        $(document).ready(function () {
            $(".interface").click(function(e) {
                e.preventDefault();
               var interface = "";
               var selectedInterface = $(this).data("interface");
               if (selectedInterface == "nurse"){
                   console.log("I am a nurse!!!");
                   interface="nurse";
               }else if (selectedInterface == "doctor"){
                   console.log("I am a doctor");
                   interface="doctor";
                } else {
                   console.log("I am a patient");
                   interface="patient";
                }
               var url = "/interface/"+interface;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {"interface" : interface},
                    success: function(result) {
                        console.log('ok');
                    },
                    error: function(result) {
                        console.log('error');
                    }
                });
            });
        });
    </script>
}