@(message: String)

@main("Insulin Pump Simulator") {
    <div ng-app="insulinsimulatorapp">
        <div ng-view>
        </div>
    </div>
}{
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sweetalert.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/rdash.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/morris.css")">
}{
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.bundle.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular-route.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular-animate.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular-cookies.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular-sanitize.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular-messages.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular-touch.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/ui-bootstrap-tpls-0.13.4.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ui-select.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/sweetalert.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angularjslib/angular-resource.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/morris.min.js")"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("ng/js/insulinsimulatorapp.js")"></script>
}