@(message: String)

@main("Alpha-Beta Pump") {
    <div data-ng-app="alphabetapumpapp">
        <data-ng-view></data-ng-view>
    </div>
}{
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-grid.min.css")">
}{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="@routes.Assets.at("ng/js/alphabetapumpapp.js")"></script>
}